{
  "test": ".*.js$",
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "target": "es5",
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "minify": true
}
